@model blog.entity.Post

@*@section scripts
{
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/ThemeCSS")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}*@

@{
    Layout = "../Shared/Template.cshtml";
}


<!DOCTYPE html>

<div class="jumbotron">
    @using (Html.BeginForm("Add", "Post"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
            <input class="form-control" id="Title" name="Title" type="text" value="">
            @Html.ValidationMessageFor(m => m.Body, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Body, new {@class = "basic_input"})
                @Html.TextAreaFor(m => m.Body, new {@class = "form-control basic_input"})
                @Html.ValidationMessageFor(m => m.Body, "", new {@class = "text-danger"})
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Author, new {@class = "basic_input"})

                @Html.EditorFor(m => m.Author)
                @Html.ValidationMessageFor(m => m.Author, "", new {htmlAttributes = new {@class = "form-control"}})
            </div>
            <button class="btn btn-success" type="submit">Dodaj</button>
        </div>
    }
</div>